
body {
    font-family: 'Arial', sans-serif;
    background-color: lightskyblue;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: blueviolet;
}

p {
    margin: 10px 0;
}

