@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi this is damon</p>

    <form method="post" action="/Home/SubmitForm">
        <label for="zipcode">Zipcode:</label>
        <input type="text" id="zipcode" name="Zipcode" required>

        <label for="country">Country:</label>
        <input type="text" id="country" name="Country" required>

        <button type="submit">Get Weather Data</button>
    </form>
</div>
