@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SubmitFormViewModel
<h1>Results</h1>
<p>LatitudeFromYeah: @Model.lat</p>
<p>LongitudeFromYeah: @Model.lon</p>